header{
    background-color: #5EFFBA;
    width: auto;
    height: auto;
    border: 5px solid #564180;
}
h1 {
    display: inline;
    font-style: italic;
    color: #5C78F2;
    font-family: 'Dancing Script', cursive;
    text-shadow: -7px 2px 7px rgba(92,242,208,0.99);
}
ul{
    display: inline-block;
}
nav ul li a{
    color: #564180;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
}
nav ul li a:hover{
    color: #5C78F2;
}
li{ 
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}
section{
    width: 100%;
    height: auto;
}
section div{
    width: 250px;
    height: auto;
    margin: 20px 20px;
}
section div p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
footer{
    border: 5px solid #564180;
}
#borde__seccion{
    border: 5px solid #564180;
    display: inline-block;
}
#texto__info{
    width: 100%;
    height: 100%;
}