@media (max-width: 858px) {
	.img-resize {
		width: 100%;
		height: auto;
	}
	.subtitulos {
		margin-left: 2%;
		font-family: 'Dancing Script', cursive;
		font-size: 15px;
	}
	h1 {
		font-size: 40px;
	}
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav {
		ul {
			li {
				display: block;
				margin: 50px 0;
				line-height: 30px;
				a {
					font-size: 20px;
				}
			}
		}
	}
	li {
		a {
			&:hover {
				background: none;
				color: #5C78F2;
			}
		}
		a.active {
			background: none;
			color: #5C78F2;
		}
	}
	#check {
		&:checked {
			~ {
				ul {
					left: 0;
				}
			}
		}
	}
	#wrapper {
		border: 5px solid #564180;
		height: auto;
		width: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
