
$border-lila:5px solid #564180;
$background-color:#5EFFBA;
footer {
	border: $border-lila;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.contenedor__footer {
	display: flex;
	justify-content: space-around;
	height: auto;
	width: auto;
	background-color: $background-color;
	.contenido__footer {
		img {
			margin: 0 45% 0 45%;
		}
		i {
			display: flex;
			flex-direction: column;
		}
	}
}
.contenido__footer {
	margin-top: 5px;
	margin-bottom: 5px;
	height: auto;
	width: 250px;
}
