header {
	background-color: #5EFFBA;
	width: auto;
	height: 70px;
	position: sticky;
	border: 5px solid #564180;
}
.ancho {
	width: 80%;
	height: 70px;
	margin: auto;
}
nav {
	width: 70%;
	height: 70px;
	float: left;
	text-align: right;
	padding-top: 26px;
	box-sizing: border-box;
	ul {
		li {
			display: inline-block;
			a {
				color: #564180;
				font-size: 13px;
				text-decoration: none;
				text-transform: uppercase;
				padding-left: 19px;
				font-weight: bold;
				letter-spacing: 1px;
				font-family: 'Dancing Script', cursive;
				&:hover {
					color: #5C78F2;
				}
			}
		}
	}
}
