header {
	border: 5px solid #564180;
}
nav {
	background-color: #5EFFBA;
	width: 100%;
	height: 80px;
	ul {
		float: right;
		li {
			display: inline-block;
			line-height: 80px;
			margin: 0 5px;
			a {
				color: #564180;
				font-size: 15px;
				text-transform: uppercase;
				padding: 7px 13px;
				font-weight: bold;
				font-family: 'Dancing Script', cursive;
				border-radius: 3px;
			}
		}
	}
}
.logo {
	position: absolute;
	padding: 20px 50px;
	p {
		height: 40px;
		text-align: center;
		a {
			color: #564180;
			font-size: 30px;
			text-decoration: none;
			font-family: 'Dancing Script', cursive;
		}
	}
}
li {
	a {
		&:hover {
			color: #5C78F2;
			transition: .5s;
		}
	}
}
.checkbtn {
	font-size: 30px;
	color: #564180;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
