@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Nunito+Sans:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
}
header{
    background-color: #5EFFBA;
    width: 100%;
    height: 70px;
    position: sticky;
}
.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 5px;
    box-sizing: border-box;
    font-weight: bold;
}
.logo p a{
    color: #564180;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive
}
nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 26px;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #564180;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
}
nav ul li a:hover{
    color: #5C78F2;
    
}
body{
    background-color: #fff;
}
h1{
    font-style: italic;
    color: #5C78F2;
    font-family: 'Dancing Script', cursive;
    text-shadow: -7px 2px 7px rgba(92,242,208,0.99);
    text-align: center;
    font-size: 50px; 
    margin-top: 12px;
}
.productos{
    width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    display: flex;
}
.subtitulos{
    margin-left: 30px;
    display: inline-block;
    margin-inline-end: 50px;
    font-family: 'Dancing Script', cursive;
}
section{
    background-color: #fff;
    width: 100%;
}
section div{
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right:  60px;
}
section div img{
    margin-bottom: 20px;
}
section div p{
    font-family: 'Dancing Script', cursive;
}